html {
  font-size: 62,5%;
  font-family: 'Lato', sans-serif;
}

body {
  background-image: url(../multimedia/holidays-1283014_1920.jpg);
  background-position: center center;
  background-size: cover;
}

/*             Estilos Home             */
header .header__titulo {
  color: #161616;
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.5rem;
  background-image: linear-gradient(#346751, gray);
}

header .header__navbarra {
  margin: 20px;
}

header .header__contenidobarra {
  background-color: tomato;
}

.fotosAlgunosAutos {
  color: #C84B31;
  background-color: gray;
  text-align: center;
}

.gridHome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: "encontraElauto ubicacion" "encontraElauto ubicacion" "encontraElauto ubicacion" "encontraElauto ubicacion" "encontraElauto ubicacion";
}

.gridHome .encontraElauto {
  grid-area: encontraElauto;
  background-color: #C84B31;
  align-self: center;
}

.gridHome .ubicacion {
  grid-area: ubicacion;
  background-color: #346751;
}

.gridHome .fotosAutos img {
  display: inline-block;
  margin: 0.5rem 0.5rem;
  padding: 0rem 1rem;
}

.gridHome .listaAutoqNecesitas {
  color: #346751;
  text-align: center;
}

.gridHome .formAutoqNecesitas {
  color: #000000;
  text-align: center;
}

.gridHome .ubicacionMap {
  color: #C84B31;
  text-align: center;
  display: block;
}

.gridHome .mapaUbicacion {
  text-align: center;
  display: inline-block;
}

.footer .listaRedes li, .footer a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.footer ul {
  list-style: none;
  text-align: center;
}

.footer i {
  font-size: 50px;
  padding: 10px;
  transition: all 1s;
}

.footer i:hover {
  font-size: 70px;
}

@media screen and (max-width: 768px) {
  iframe {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 425px) {
  .gridHome {
    display: flex;
    flex-direction: column;
  }
  iframe {
    width: 415px;
    height: 300px;
  }
}

/*              Nosotros              */
.infonosostros {
  margin: 20px;
  padding: 20px;
  text-align: center;
  color: #C84B31;
  background-color: gray;
}

/*           Contacto                  */
.formContacto {
  color: black;
  font-size: 1.8rem;
  text-align: center;
}

label {
  background-color: gray;
}

legend {
  background-color: gray;
}

h5 {
  background-color: gray;
}
